

  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    background: rgba(88, 207, 144, 1);
  }
  #section3{
    background-image: url("images/bg-big-sky.jpg");
    width: 100%;
    min-height: 100vh;

  }
   
  .box img{
    display: block;
    width: 100%;
    border-radius: 5px;
    transition: .5s;
      
  }
  .box:hover{
    transform: scale(1.1);
    z-index: 2;
    overflow: hidden;
  }
  .imgs{
    max-width: 80%;
    max-height: fit-content;
    
  }
  .btn1:hover{
    background-color:rgb(79,225,188);
  }
  #section4{
    background-image: url("images/bg-big-sky.jpg");
    width: 100%;
    min-height: 50vh;
    padding-top: 100PX;
    justify-content: space-around;

  }
   